# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.so
*.egg
pip-wheel-metadata/

# Virtual environment
venv/
env/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Secrets
.env
*.log
